<input type="button" onclick="LoadImage('PointCaptcha')" value="点击验证" />
<input type="button" onclick="LoadImage('SliderCaptcha')" value="滑块验证" />
<input type="button" onclick="handValidate()" value="提交验证" />
<div style="display:flex;">
    <div class="captcha-container" id="divCaptach">
        <div class="captcha-control-image">
            <div class="captcha-img"></div>
            <img class="captcha-slider-img" />
        </div>
        <div class="captcha-control">
            <div class="captcha-control-tips">
                <span>向右拖动滑块填充拼图</span>
            </div>
            <div class="captcha-control-slider">
                <div class="captcha-slider-bg"></div>
                <div class="captcha-slider"><span class="captcha-slider-icon"></span></div>
            </div>
        </div>
        <div class="captcha-modal">
            <div class="captcha-modal-body">
                <div class="captcha-icon-refresh"></div>
            </div>
        </div>
    </div>

    <div class="captcha-container" id="canvasCaptach">
        <div class="captcha-control-image">
            <canvas id="brush">请使用更高版本的浏览器</canvas>
            <img class="captcha-slider-img" />
        </div>
        <div class="captcha-control-top">
            <div class="captcha-control-refresh"></div>
        </div>
        <div class="captcha-control">
            <div class="captcha-control-tips">
                <span>向右拖动滑块填充拼图</span>
            </div>
            <div class="captcha-control-slider">
                <div class="captcha-slider-bg"></div>
                <div class="captcha-slider">>></div>
            </div>
        </div>
        <div class="captcha-modal">
            <div class="captcha-modal-body">
                <div class="captcha-icon-refresh"></div>
                <div class="captcha-icon-succeed"></div>
                <div class="captcha-icon-failed"></div>
            </div>
         </div>
            <div id="btn_block" style="display:none;">
                <button id="btn_ok" class="btn-outline-primary btn-block mt-1" style="height:40px;">确定</button>
            </div>
        </div>
</div>
<div style="display:flex;">
    <div>
        <img id="background" src="" class="pd" />
        <div>完整的背景图</div>
    </div>
    <div>
        <img id="randBackground" src="" class="pd" />
        <div>带缺口乱序后的背景图</div>
    </div>
</div>

@section Styles{
    <link href="~/css/flyingrat.captcha.css" rel="stylesheet" />
    @*<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">*@
    <style>
        .pd {
            margin-left: 5px;
        }
    </style>
}

@section Scripts{
    <script src="~/js/flyingrat.captcha.js"></script>
    <script>
        var cap, divCap;
        function validate(callback, captcha) {
            if (captcha.autoValidate) return false;
            $.post(captcha.data.validate, { points: captcha.points, tk: captcha.data.tk, type: captcha.current.type }, function (data) {
                console.debug("验证结果：", data);
                callback(data);
            });
            return true;
        }
        function validated(data,callback,captcha) {
            console.debug("拿到验证结果", data)
            captcha.delayedFunction(0.5, callback);
        }
    function LoadImage(type) {
        reType = type;
        if (cap) cap.destroy(); if (divCap) divCap.destroy();
        cap = new captcha(document.querySelector("#canvasCaptach"), {
            url: "@Html.Raw(Url.Action("RandImage"))?type=" + type + "&row=3&col=15",
            autoValidate: true,
            autoRefresh: false,
            method: {
                ready: function (captcha) {
                    if (!captcha.options.autoValidate) {
                        $("#btn_block").show();
                        $("#btn_ok").unbind("click").click("click", function () {
                            captcha.validate();
                    })
                    }
                },
                validated: validated
            }
        });
        divCap = new captcha(document.querySelector("#divCaptach"), {
            url: "@Html.Raw(Url.Action("RandImage"))?type=" + type + "&row=2&col=15",
            method: { validate: validate, validated: validated},
            autoValidate: true,
            autoRefresh:false
        });
        cap.drawCaptcha();
        $.get('@Html.Raw(Url.Action("RandImage"))', {type:type,row:2,col:15}, function (data) {
            var back = document.getElementById("background");
            back.src = data.isAction ? data.full + "?tk=" + data.tk + "&&t=" + new Date().getMilliseconds() : data.full;
            var back = document.getElementById("randBackground");
            back.src = data.isAction ? data.bgGap + "?tk=" + data.tk + "&&t=" + new Date().getMilliseconds() : data.bgGap;
            divCap.drawCaptcha(data);
            //cap.drawCaptcha(data);
        })
        }
        function handValidate() {
            if (cap && !cap.options.autoValidate) cap.validate();
            if (divCap && !divCap.options.autoValidate) divCap.validate();
        }
    </script>
}