@{
    Layout = null;
}
<script src="~/js/jquery-3.2.1.min.js"></script>
<link href="~/css/flyingrat.captcha.css" rel="stylesheet" />
<script src="~/js/flyingrat.captcha.js"></script>
<style>
    .pd {
        margin-left: 5px;
    }
</style>
<script>
    var length = [];
    function validate(x, y) {
        if (length.length < this.data.x) {
            length.push({ x: x, y: y });
        }
        if (length.length == this.data.x) {
            $.post(this.data.validate, { points: length, tk: this.data.tk }, function (data) {
                console.debug("验证结果：",data);
            });
            length = [];
        }
    }
    function LoadImage() {
        var cap = new captcha(document.querySelector("#canvasCaptach"), { validate: validate});
        var divCap = new captcha(document.querySelector("#divCaptach"), { validate: validate });
        $.post('@Html.Raw(Url.Action("RandImage", new { row = 2, col =15 }))', null, function (data) {
            var back = document.getElementById("background");
            back.src = data.isAction ? data.full + "?tk=" + data.tk + "&&t=" + new Date().getMilliseconds() : data.full;
            var back = document.getElementById("randBackground");
            back.src = data.isAction ? data.bgGap + "?tk=" + data.tk + "&&t=" + new Date().getMilliseconds() : data.bgGap;
            divCap.drawCaptcha(data);
            cap.drawCaptcha(data);
        })
    }
</script>
<html>
<head>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body style="margin:0px;padding:0px;">
    <input type="button" onclick="LoadImage()" value="刷新图片" />
    <div style="display:flex;">
        <div class="captcha-container" id="divCaptach">
            <div class="captcha-control-image">
                <div class="captcha-img"></div>
                <img class="captcha-slider-img" />
            </div>
            <div class="captcha-control-slider">
                <div class="captcha-slider-bg"></div>
                <div class="captcha-slider"><span class="fa fa-arrow-right"></span></div>
                <div style="text-align:center">
                    <span>向右拖动滑块填充拼图</span>
                </div>
            </div>
        </div>

        <div class="captcha-container" id="canvasCaptach">
            <div class="captcha-tips">
                <span>按顺序选择：我的心中</span>
            </div>
            <div class="captcha-control-image">
                <canvas id="brush">请使用更高版本的浏览器</canvas>
                <img class="captcha-slider-img" />
            </div>
            <div class="captcha-control-slider">
                <div class="captcha-slider-bg"></div>
                <div class="captcha-slider"></div>
                <div style="text-align:center">
                    <span>向右拖动滑块填充拼图</span>
                </div>
            </div>
        </div>
    </div>
    <div style="display:flex;">
        <div>
            <img id="background" src="" class="pd" />
            <div>完整的背景图</div>
        </div>
        <div>
            <img id="randBackground" src="" class="pd" />
            <div>带缺口乱序后的背景图</div>
        </div>
    </div>
</body>
</html>